In [3]:
import pandas as pd
tit=pd.read_csv("DataSets-master/Titanic_Data.csv")

# set index and reset index

In [6]:
tit.set_index("Name",inplace=True)

In [7]:
tit.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [10]:
tit.reset_index(drop=False)
#drop param drops the name index so we put it as false

,Name,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
5,"Moran, Mr. James",6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
6,"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,0,17463,51.8625,E46,S
7,"Palsson, Master. Gosta Leonard",8,0,3,male,2.0,3,1,349909,21.0750,NaN,S
8,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27.0,0,2,347742,11.1333,NaN,S
9,"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14.0,1,0,237736,30.0708,NaN,C
10,"Sandstrom, Miss. Marguerite Rut",11,1,3,female,4.0,1,1,PP 9549,16.7000,G6,S
11,"Bonnell, Miss. Elizabeth",12,1,1,female,58.0,0,0,113783,26.5500,C103,S
12,"Saundercock, Mr. William Henry",13,0,3,male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,"Andersson, Mr. Anders Johan",14,0,3,male,39.0,1,5,347082,31.2750,NaN,S
14,"Vestrom, Miss. Hulda Amanda Adolfina",15,0,3,female,14.0,0,0,350406,7.8542,NaN,S
15,"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,female,55.0,0,0,248706,16.0000,NaN,S
16,"Rice, Master. Eugene",17,0,3,male,2.0,4,1,382652,29.1250,NaN,Q
17,"Williams, Mr. Charles Eugene",18,1,2,male,NaN,0,0,244373,13.0000,NaN,S
18,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",19,0,3,female,31.0,1,0,345763,18.0000,NaN,S
19,"Masselmani, Mrs. Fatima",20,1,3,female,NaN,0,0,2649,7.2250,NaN,C
20,"Fynney, Mr. Joseph J",21,0,2,male,35.0,0,0,239865,26.0000,NaN,S
21,"Beesley, Mr. Lawrence",22,1,2,male,34.0,0,0,248698,13.0000,D56,S
22,"McGowan, Miss. Anna ""Annie""",23,1,3,female,15.0,0,0,330923,8.0292,NaN,Q
23,"Sloper, Mr. William Thompson",24,1,1,male,28.0,0,0,113788,35.5000,A6,S
24,"Palsson, Miss. Torborg Danira",25,0,3,female,8.0,3,1,349909,21.0750,NaN,S
25,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",26,1,3,female,38.0,1,5,347077,31.3875,NaN,S
26,"Emir, Mr. Farred Chehab",27,0,3,male,NaN,0,0,2631,7.2250,NaN,C
27,"Fortune, Mr. Charles Alexander",28,0,1,male,19.0,3,2,19950,263.0000,C23 C25 C27,S
28,"O'Dwyer, Miss. Ellen ""Nellie""",29,1,3,female,NaN,0,0,330959,7.8792,NaN,Q
29,"Todoroff, Mr. Lalio",30,0,3,male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
861,"Giles, Mr. Frederick Edward",862,0,2,male,21.0,1,0,28134,11.5000,NaN,S
862,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",863,1,1,female,48.0,0,0,17466,25.9292,D17,S
863,"Sage, Miss. Dorothy Edith ""Dolly""",864,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
864,"Gill, Mr. John William",865,0,2,male,24.0,0,0,233866,13.0000,NaN,S
865,"Bystrom, Mrs. (Karolina)",866,1,2,female,42.0,0,0,236852,13.0000,NaN,S
866,"Duran y More, Miss. Asuncion",867,1,2,female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
867,"Roebling, Mr. Washington Augustus II",868,0,1,male,31.0,0,0,PC 17590,50.4958,A24,S
868,"van Melkebeke, Mr. Philemon",869,0,3,male,NaN,0,0,345777,9.5000,NaN,S
869,"Johnson, Master. Harold Theodor",870,1,3,male,4.0,1,1,347742,11.1333,NaN,S
870,"Balkic, Mr. Cerin",871,0,3,male,26.0,0,0,349248,7.8958,NaN,S
871,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",872,1,1,female,47.0,1,1,11751,52.5542,D35,S
872,"Carlsson, Mr. Frans Olof",873,0,1,male,33.0,0,0,695,5.0000,B51 B53 B55,S
873,"Vander Cruyssen, Mr. Victor",874,0,3,male,47.0,0,0,345765,9.0000,NaN,S
874,"Abelson, Mrs. Samuel (Hannah Wizosky)",875,1,2,female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,"Najib, Miss. Adele Kiamie ""Jane""",876,1,3,female,15.0,0,0,2667,7.2250,NaN,C
876,"Gustafsson, Mr. Alfred Ossian",877,0,3,male,20.0,0,0,7534,9.8458,NaN,S
877,"Petroff, Mr. Nedelio",878,0,3,male,19.0,0,0,349212,7.8958,NaN,S
878,"Laleff, Mr. Kristo",879,0,3,male,NaN,0,0,349217,7.8958,NaN,S
879,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",880,1,1,female,56.0,0,1,11767,83.1583,C50,C
880,"Shelley, Mrs. William (Imanita Parrish Hall)",881,1,2,female,25.0,0,1,230433,26.0000,NaN,S
881,"Markun, Mr. Johann",882,0,3,male,33.0,0,0,349257,7.8958,NaN,S
882,"Dahlberg, Miss. Gerda Ulrika",883,0,3,female,22.0,0,0,7552,10.5167,NaN,S
883,"Banfield, Mr. Frederick James",884,0,2,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
884,"Sutehall, Mr. Henry Jr",885,0,3,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
885,"Rice, Mrs. William (Margaret Norton)",886,0,3,female,39.0,0,5,382652,29.1250,NaN,Q
886,"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
887,"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
890,"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

#  loc[]

In [12]:
# access data through row 
tit.head(11)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
"Moran, Mr. James",6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,0,17463,51.8625,E46,S
"Palsson, Master. Gosta Leonard",8,0,3,male,2.0,3,1,349909,21.0750,NaN,S
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27.0,0,2,347742,11.1333,NaN,S
"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14.0,1,0,237736,30.0708,NaN,C
"Sandstrom, Miss. Marguerite Rut",11,1,3,female,4.0,1,1,PP 9549,16.7000,G6,S

In [14]:
tit.loc["Heikkinen, Miss. Laina"]

PassengerId                   3
Survived                      1
Pclass                        3
Sex                      female
Age                          26
SibSp                         0
Parch                         0
Ticket         STON/O2. 3101282
Fare                      7.925
Cabin                       NaN
Embarked                      S
Name: Heikkinen, Miss. Laina, dtype: object

In [17]:
tit.loc["Braund, Mr. Owen Harris":"McCarthy, Mr. Timothy J"]

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
"Moran, Mr. James",6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,0,17463,51.8625,E46,S

In [20]:
tit.loc[["Braund, Mr. Owen Harris","McCarthy, Mr. Timothy J","yogesh"]]
# here yogesh name is not exist then it fill NAN in every col

/home/yogesh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1.0,0.0,3.0,male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S
"McCarthy, Mr. Timothy J",7.0,0.0,1.0,male,54.0,0.0,0.0,17463,51.8625,E46,S
yogesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# iloc[]

In [21]:
# index location
tit.iloc[5]

PassengerId         6
Survived            0
Pclass              3
Sex              male
Age               NaN
SibSp               0
Parch               0
Ticket         330877
Fare           8.4583
Cabin             NaN
Embarked            Q
Name: Moran, Mr. James, dtype: object

In [22]:
tit.iloc[:5]

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [27]:
tit.iloc[:]

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
"Moran, Mr. James",6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,0,17463,51.8625,E46,S
"Palsson, Master. Gosta Leonard",8,0,3,male,2.0,3,1,349909,21.0750,NaN,S
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27.0,0,2,347742,11.1333,NaN,S
"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14.0,1,0,237736,30.0708,NaN,C
"Sandstrom, Miss. Marguerite Rut",11,1,3,female,4.0,1,1,PP 9549,16.7000,G6,S
"Bonnell, Miss. Elizabeth",12,1,1,female,58.0,0,0,113783,26.5500,C103,S
"Saundercock, Mr. William Henry",13,0,3,male,20.0,0,0,A/5. 2151,8.0500,NaN,S
"Andersson, Mr. Anders Johan",14,0,3,male,39.0,1,5,347082,31.2750,NaN,S
"Vestrom, Miss. Hulda Amanda Adolfina",15,0,3,female,14.0,0,0,350406,7.8542,NaN,S
"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,female,55.0,0,0,248706,16.0000,NaN,S
"Rice, Master. Eugene",17,0,3,male,2.0,4,1,382652,29.1250,NaN,Q
"Williams, Mr. Charles Eugene",18,1,2,male,NaN,0,0,244373,13.0000,NaN,S
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",19,0,3,female,31.0,1,0,345763,18.0000,NaN,S
"Masselmani, Mrs. Fatima",20,1,3,female,NaN,0,0,2649,7.2250,NaN,C
"Fynney, Mr. Joseph J",21,0,2,male,35.0,0,0,239865,26.0000,NaN,S
"Beesley, Mr. Lawrence",22,1,2,male,34.0,0,0,248698,13.0000,D56,S
"McGowan, Miss. Anna ""Annie""",23,1,3,female,15.0,0,0,330923,8.0292,NaN,Q
"Sloper, Mr. William Thompson",24,1,1,male,28.0,0,0,113788,35.5000,A6,S
"Palsson, Miss. Torborg Danira",25,0,3,female,8.0,3,1,349909,21.0750,NaN,S
"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",26,1,3,female,38.0,1,5,347077,31.3875,NaN,S
"Emir, Mr. Farred Chehab",27,0,3,male,NaN,0,0,2631,7.2250,NaN,C
"Fortune, Mr. Charles Alexander",28,0,1,male,19.0,3,2,19950,263.0000,C23 C25 C27,S
"O'Dwyer, Miss. Ellen ""Nellie""",29,1,3,female,NaN,0,0,330959,7.8792,NaN,Q
"Todoroff, Mr. Lalio",30,0,3,male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
"Giles, Mr. Frederick Edward",862,0,2,male,21.0,1,0,28134,11.5000,NaN,S
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",863,1,1,female,48.0,0,0,17466,25.9292,D17,S
"Sage, Miss. Dorothy Edith ""Dolly""",864,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
"Gill, Mr. John William",865,0,2,male,24.0,0,0,233866,13.0000,NaN,S
"Bystrom, Mrs. (Karolina)",866,1,2,female,42.0,0,0,236852,13.0000,NaN,S
"Duran y More, Miss. Asuncion",867,1,2,female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
"Roebling, Mr. Washington Augustus II",868,0,1,male,31.0,0,0,PC 17590,50.4958,A24,S
"van Melkebeke, Mr. Philemon",869,0,3,male,NaN,0,0,345777,9.5000,NaN,S
"Johnson, Master. Harold Theodor",870,1,3,male,4.0,1,1,347742,11.1333,NaN,S
"Balkic, Mr. Cerin",871,0,3,male,26.0,0,0,349248,7.8958,NaN,S
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",872,1,1,female,47.0,1,1,11751,52.5542,D35,S
"Carlsson, Mr. Frans Olof",873,0,1,male,33.0,0,0,695,5.0000,B51 B53 B55,S
"Vander Cruyssen, Mr. Victor",874,0,3,male,47.0,0,0,345765,9.0000,NaN,S
"Abelson, Mrs. Samuel (Hannah Wizosky)",875,1,2,female,28.0,1,0,P/PP 3381,24.0000,NaN,C
"Najib, Miss. Adele Kiamie ""Jane""",876,1,3,female,15.0,0,0,2667,7.2250,NaN,C
"Gustafsson, Mr. Alfred Ossian",877,0,3,male,20.0,0,0,7534,9.8458,NaN,S
"Petroff, Mr. Nedelio",878,0,3,male,19.0,0,0,349212,7.8958,NaN,S
"Laleff, Mr. Kristo",879,0,3,male,NaN,0,0,349217,7.8958,NaN,S
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",880,1,1,female,56.0,0,1,11767,83.1583,C50,C
"Shelley, Mrs. William (Imanita Parrish Hall)",881,1,2,female,25.0,0,1,230433,26.0000,NaN,S
"Markun, Mr. Johann",882,0,3,male,33.0,0,0,349257,7.8958,NaN,S
"Dahlberg, Miss. Gerda Ulrika",883,0,3,female,22.0,0,0,7552,10.5167,NaN,S
"Banfield, Mr. Frederick James",884,0,2,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
"Sutehall, Mr. Henry Jr",885,0,3,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
"Rice, Mrs. William (Margaret Norton)",886,0,3,female,39.0,0,5,382652,29.1250,NaN,Q
"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [28]:
tit.iloc[[1,5,6,9]]

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Moran, Mr. James",6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,0,17463,51.8625,E46,S
"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14.0,1,0,237736,30.0708,NaN,C

# catch all ix method

In [29]:
tit.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [30]:
tit.ix["Heikkinen, Miss. Laina"]

/home/yogesh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

PassengerId                   3
Survived                      1
Pclass                        3
Sex                      female
Age                          26
SibSp                         0
Parch                         0
Ticket         STON/O2. 3101282
Fare                      7.925
Cabin                       NaN
Embarked                      S
Name: Heikkinen, Miss. Laina, dtype: object

In [32]:
tit.ix[["Heikkinen, Miss. Laina","Allen, Mr. William Henry"]]

/home/yogesh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Heikkinen, Miss. Laina",3,1,3,female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.050,NaN,S

In [33]:
'''
-->loc gets rows (or columns) with particular labels from the index.
-->iloc gets rows (or columns) at particular positions in the index (so it only takes integers).
-->ix usually tries to behave like loc but falls back to behaving like iloc if a label is not present in the index.
-->It's important to note some subtleties that can make ix slightly tricky to use:

-->if the index is of integer type, ix will only use label-based indexing and not fall back to position-based indexing. If the label is not in the index, an error is raised.

-->if the index does not contain only integers, then given an integer, ix will immediately use position-based indexing rather than label-based indexing. If however ix is given another type (e.g. a string), it can use label-based indexing.
'''

"\n-->loc gets rows (or columns) with particular labels from the index.\n-->iloc gets rows (or columns) at particular positions in the index (so it only takes integers).\n-->ix usually tries to behave like loc but falls back to behaving like iloc if a label is not present in the index.\n-->It's important to note some subtleties that can make ix slightly tricky to use:\n\n-->if the index is of integer type, ix will only use label-based indexing and not fall back to position-based indexing. If the label is not in the index, an error is raised.\n\n-->if the index does not contain only integers, then given an integer, ix will immediately use position-based indexing rather than label-based indexing. If however ix is given another type (e.g. a string), it can use label-based indexing.\n"

In [34]:
tit.loc["Heikkinen, Miss. Laina","Sex"]

'female'

In [38]:
tit.iloc[4:6,3:5]

                           Sex   Age
Name
Allen, Mr. William Henry  male  35.0
Moran, Mr. James          male   NaN

# set new values for cell or row

In [39]:
tit.ix["Heikkinen, Miss. Laina"]

/home/yogesh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

PassengerId                   3
Survived                      1
Pclass                        3
Sex                      female
Age                          26
SibSp                         0
Parch                         0
Ticket         STON/O2. 3101282
Fare                      7.925
Cabin                       NaN
Embarked                      S
Name: Heikkinen, Miss. Laina, dtype: object

In [40]:
tit.ix["Heikkinen, Miss. Laina","Age"]=45

/home/yogesh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [41]:
tit.ix["Heikkinen, Miss. Laina"] # here age is change

/home/yogesh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

PassengerId                   3
Survived                      1
Pclass                        3
Sex                      female
Age                          45
SibSp                         0
Parch                         0
Ticket         STON/O2. 3101282
Fare                      7.925
Cabin                       NaN
Embarked                      S
Name: Heikkinen, Miss. Laina, dtype: object

In [42]:
tit.ix["Heikkinen, Miss. Laina",["Survived","Pclass","Sex"]]=[0,9000,'male']

/home/yogesh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [43]:
tit.ix["Heikkinen, Miss. Laina"]

/home/yogesh/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

PassengerId                   3
Survived                      0
Pclass                     9000
Sex                        male
Age                          45
SibSp                         0
Parch                         0
Ticket         STON/O2. 3101282
Fare                      7.925
Cabin                       NaN
Embarked                      S
Name: Heikkinen, Miss. Laina, dtype: object

# rename index name

In [44]:
tit.head()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,0,9000,male,45.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [45]:
tit.rename(columns={"Sex":"Gender"})

,PassengerId,Survived,Pclass,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,0,9000,male,45.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
"Moran, Mr. James",6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,0,17463,51.8625,E46,S
"Palsson, Master. Gosta Leonard",8,0,3,male,2.0,3,1,349909,21.0750,NaN,S
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27.0,0,2,347742,11.1333,NaN,S
"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14.0,1,0,237736,30.0708,NaN,C
"Sandstrom, Miss. Marguerite Rut",11,1,3,female,4.0,1,1,PP 9549,16.7000,G6,S
"Bonnell, Miss. Elizabeth",12,1,1,female,58.0,0,0,113783,26.5500,C103,S
"Saundercock, Mr. William Henry",13,0,3,male,20.0,0,0,A/5. 2151,8.0500,NaN,S
"Andersson, Mr. Anders Johan",14,0,3,male,39.0,1,5,347082,31.2750,NaN,S
"Vestrom, Miss. Hulda Amanda Adolfina",15,0,3,female,14.0,0,0,350406,7.8542,NaN,S
"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,female,55.0,0,0,248706,16.0000,NaN,S
"Rice, Master. Eugene",17,0,3,male,2.0,4,1,382652,29.1250,NaN,Q
"Williams, Mr. Charles Eugene",18,1,2,male,NaN,0,0,244373,13.0000,NaN,S
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",19,0,3,female,31.0,1,0,345763,18.0000,NaN,S
"Masselmani, Mrs. Fatima",20,1,3,female,NaN,0,0,2649,7.2250,NaN,C
"Fynney, Mr. Joseph J",21,0,2,male,35.0,0,0,239865,26.0000,NaN,S
"Beesley, Mr. Lawrence",22,1,2,male,34.0,0,0,248698,13.0000,D56,S
"McGowan, Miss. Anna ""Annie""",23,1,3,female,15.0,0,0,330923,8.0292,NaN,Q
"Sloper, Mr. William Thompson",24,1,1,male,28.0,0,0,113788,35.5000,A6,S
"Palsson, Miss. Torborg Danira",25,0,3,female,8.0,3,1,349909,21.0750,NaN,S
"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",26,1,3,female,38.0,1,5,347077,31.3875,NaN,S
"Emir, Mr. Farred Chehab",27,0,3,male,NaN,0,0,2631,7.2250,NaN,C
"Fortune, Mr. Charles Alexander",28,0,1,male,19.0,3,2,19950,263.0000,C23 C25 C27,S
"O'Dwyer, Miss. Ellen ""Nellie""",29,1,3,female,NaN,0,0,330959,7.8792,NaN,Q
"Todoroff, Mr. Lalio",30,0,3,male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
"Giles, Mr. Frederick Edward",862,0,2,male,21.0,1,0,28134,11.5000,NaN,S
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",863,1,1,female,48.0,0,0,17466,25.9292,D17,S
"Sage, Miss. Dorothy Edith ""Dolly""",864,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
"Gill, Mr. John William",865,0,2,male,24.0,0,0,233866,13.0000,NaN,S
"Bystrom, Mrs. (Karolina)",866,1,2,female,42.0,0,0,236852,13.0000,NaN,S
"Duran y More, Miss. Asuncion",867,1,2,female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
"Roebling, Mr. Washington Augustus II",868,0,1,male,31.0,0,0,PC 17590,50.4958,A24,S
"van Melkebeke, Mr. Philemon",869,0,3,male,NaN,0,0,345777,9.5000,NaN,S
"Johnson, Master. Harold Theodor",870,1,3,male,4.0,1,1,347742,11.1333,NaN,S
"Balkic, Mr. Cerin",871,0,3,male,26.0,0,0,349248,7.8958,NaN,S
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",872,1,1,female,47.0,1,1,11751,52.5542,D35,S
"Carlsson, Mr. Frans Olof",873,0,1,male,33.0,0,0,695,5.0000,B51 B53 B55,S
"Vander Cruyssen, Mr. Victor",874,0,3,male,47.0,0,0,345765,9.0000,NaN,S
"Abelson, Mrs. Samuel (Hannah Wizosky)",875,1,2,female,28.0,1,0,P/PP 3381,24.0000,NaN,C
"Najib, Miss. Adele Kiamie ""Jane""",876,1,3,female,15.0,0,0,2667,7.2250,NaN,C
"Gustafsson, Mr. Alfred Ossian",877,0,3,male,20.0,0,0,7534,9.8458,NaN,S
"Petroff, Mr. Nedelio",878,0,3,male,19.0,0,0,349212,7.8958,NaN,S
"Laleff, Mr. Kristo",879,0,3,male,NaN,0,0,349217,7.8958,NaN,S
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",880,1,1,female,56.0,0,1,11767,83.1583,C50,C
"Shelley, Mrs. William (Imanita Parrish Hall)",881,1,2,female,25.0,0,1,230433,26.0000,NaN,S
"Markun, Mr. Johann",882,0,3,male,33.0,0,0,349257,7.8958,NaN,S
"Dahlberg, Miss. Gerda Ulrika",883,0,3,female,22.0,0,0,7552,10.5167,NaN,S
"Banfield, Mr. Frederick James",884,0,2,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
"Sutehall, Mr. Henry Jr",885,0,3,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
"Rice, Mrs. William (Margaret Norton)",886,0,3,female,39.0,0,5,382652,29.1250,NaN,Q
"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [46]:
tit.rename(index={"Braund, Mr. Owen Harris":"yogesh sharma"})

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
yogesh sharma,1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,0,9000,male,45.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
"Moran, Mr. James",6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,0,17463,51.8625,E46,S
"Palsson, Master. Gosta Leonard",8,0,3,male,2.0,3,1,349909,21.0750,NaN,S
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27.0,0,2,347742,11.1333,NaN,S
"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14.0,1,0,237736,30.0708,NaN,C
"Sandstrom, Miss. Marguerite Rut",11,1,3,female,4.0,1,1,PP 9549,16.7000,G6,S
"Bonnell, Miss. Elizabeth",12,1,1,female,58.0,0,0,113783,26.5500,C103,S
"Saundercock, Mr. William Henry",13,0,3,male,20.0,0,0,A/5. 2151,8.0500,NaN,S
"Andersson, Mr. Anders Johan",14,0,3,male,39.0,1,5,347082,31.2750,NaN,S
"Vestrom, Miss. Hulda Amanda Adolfina",15,0,3,female,14.0,0,0,350406,7.8542,NaN,S
"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,female,55.0,0,0,248706,16.0000,NaN,S
"Rice, Master. Eugene",17,0,3,male,2.0,4,1,382652,29.1250,NaN,Q
"Williams, Mr. Charles Eugene",18,1,2,male,NaN,0,0,244373,13.0000,NaN,S
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",19,0,3,female,31.0,1,0,345763,18.0000,NaN,S
"Masselmani, Mrs. Fatima",20,1,3,female,NaN,0,0,2649,7.2250,NaN,C
"Fynney, Mr. Joseph J",21,0,2,male,35.0,0,0,239865,26.0000,NaN,S
"Beesley, Mr. Lawrence",22,1,2,male,34.0,0,0,248698,13.0000,D56,S
"McGowan, Miss. Anna ""Annie""",23,1,3,female,15.0,0,0,330923,8.0292,NaN,Q
"Sloper, Mr. William Thompson",24,1,1,male,28.0,0,0,113788,35.5000,A6,S
"Palsson, Miss. Torborg Danira",25,0,3,female,8.0,3,1,349909,21.0750,NaN,S
"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",26,1,3,female,38.0,1,5,347077,31.3875,NaN,S
"Emir, Mr. Farred Chehab",27,0,3,male,NaN,0,0,2631,7.2250,NaN,C
"Fortune, Mr. Charles Alexander",28,0,1,male,19.0,3,2,19950,263.0000,C23 C25 C27,S
"O'Dwyer, Miss. Ellen ""Nellie""",29,1,3,female,NaN,0,0,330959,7.8792,NaN,Q
"Todoroff, Mr. Lalio",30,0,3,male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
"Giles, Mr. Frederick Edward",862,0,2,male,21.0,1,0,28134,11.5000,NaN,S
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",863,1,1,female,48.0,0,0,17466,25.9292,D17,S
"Sage, Miss. Dorothy Edith ""Dolly""",864,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
"Gill, Mr. John William",865,0,2,male,24.0,0,0,233866,13.0000,NaN,S
"Bystrom, Mrs. (Karolina)",866,1,2,female,42.0,0,0,236852,13.0000,NaN,S
"Duran y More, Miss. Asuncion",867,1,2,female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
"Roebling, Mr. Washington Augustus II",868,0,1,male,31.0,0,0,PC 17590,50.4958,A24,S
"van Melkebeke, Mr. Philemon",869,0,3,male,NaN,0,0,345777,9.5000,NaN,S
"Johnson, Master. Harold Theodor",870,1,3,male,4.0,1,1,347742,11.1333,NaN,S
"Balkic, Mr. Cerin",871,0,3,male,26.0,0,0,349248,7.8958,NaN,S
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",872,1,1,female,47.0,1,1,11751,52.5542,D35,S
"Carlsson, Mr. Frans Olof",873,0,1,male,33.0,0,0,695,5.0000,B51 B53 B55,S
"Vander Cruyssen, Mr. Victor",874,0,3,male,47.0,0,0,345765,9.0000,NaN,S
"Abelson, Mrs. Samuel (Hannah Wizosky)",875,1,2,female,28.0,1,0,P/PP 3381,24.0000,NaN,C
"Najib, Miss. Adele Kiamie ""Jane""",876,1,3,female,15.0,0,0,2667,7.2250,NaN,C
"Gustafsson, Mr. Alfred Ossian",877,0,3,male,20.0,0,0,7534,9.8458,NaN,S
"Petroff, Mr. Nedelio",878,0,3,male,19.0,0,0,349212,7.8958,NaN,S
"Laleff, Mr. Kristo",879,0,3,male,NaN,0,0,349217,7.8958,NaN,S
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",880,1,1,female,56.0,0,1,11767,83.1583,C50,C
"Shelley, Mrs. William (Imanita Parrish Hall)",881,1,2,female,25.0,0,1,230433,26.0000,NaN,S
"Markun, Mr. Johann",882,0,3,male,33.0,0,0,349257,7.8958,NaN,S
"Dahlberg, Miss. Gerda Ulrika",883,0,3,female,22.0,0,0,7552,10.5167,NaN,S
"Banfield, Mr. Frederick James",884,0,2,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
"Sutehall, Mr. Henry Jr",885,0,3,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
"Rice, Mrs. William (Margaret Norton)",886,0,3,female,39.0,0,5,382652,29.1250,NaN,Q
"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [56]:
tit.columns=["id","alive","class","traveller Sex","traveller Age","Sibsp","Parch","Ticket","Fare","Cabin","Embarked"]

In [57]:
tit.head()

,id,alive,class,traveller Sex,traveller Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,0,9000,male,45.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

# query method

In [58]:
# query method can apply if there is string values which are not seprated by space
tit.columns=[col.replace(" ","_") for col in tit.columns]

In [59]:
tit.head()

,id,alive,class,traveller_Sex,traveller_Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,0,9000,male,45.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S

In [64]:
tit.query('traveller_Sex=="male"')

,id,alive,class,traveller_Sex,traveller_Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Heikkinen, Miss. Laina",3,0,9000,male,45.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
"Moran, Mr. James",6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,0,17463,51.8625,E46,S
"Palsson, Master. Gosta Leonard",8,0,3,male,2.0,3,1,349909,21.0750,NaN,S
"Saundercock, Mr. William Henry",13,0,3,male,20.0,0,0,A/5. 2151,8.0500,NaN,S
"Andersson, Mr. Anders Johan",14,0,3,male,39.0,1,5,347082,31.2750,NaN,S
"Rice, Master. Eugene",17,0,3,male,2.0,4,1,382652,29.1250,NaN,Q
"Williams, Mr. Charles Eugene",18,1,2,male,NaN,0,0,244373,13.0000,NaN,S
"Fynney, Mr. Joseph J",21,0,2,male,35.0,0,0,239865,26.0000,NaN,S
"Beesley, Mr. Lawrence",22,1,2,male,34.0,0,0,248698,13.0000,D56,S
"Sloper, Mr. William Thompson",24,1,1,male,28.0,0,0,113788,35.5000,A6,S
"Emir, Mr. Farred Chehab",27,0,3,male,NaN,0,0,2631,7.2250,NaN,C
"Fortune, Mr. Charles Alexander",28,0,1,male,19.0,3,2,19950,263.0000,C23 C25 C27,S
"Todoroff, Mr. Lalio",30,0,3,male,NaN,0,0,349216,7.8958,NaN,S
"Uruchurtu, Don. Manuel E",31,0,1,male,40.0,0,0,PC 17601,27.7208,NaN,C
"Wheadon, Mr. Edward H",34,0,2,male,66.0,0,0,C.A. 24579,10.5000,NaN,S
"Meyer, Mr. Edgar Joseph",35,0,1,male,28.0,1,0,PC 17604,82.1708,NaN,C
"Holverson, Mr. Alexander Oskar",36,0,1,male,42.0,1,0,113789,52.0000,NaN,S
"Mamee, Mr. Hanna",37,1,3,male,NaN,0,0,2677,7.2292,NaN,C
"Cann, Mr. Ernest Charles",38,0,3,male,21.0,0,0,A./5. 2152,8.0500,NaN,S
"Kraeff, Mr. Theodor",43,0,3,male,NaN,0,0,349253,7.8958,NaN,C
"Rogers, Mr. William John",46,0,3,male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
"Lennon, Mr. Denis",47,0,3,male,NaN,1,0,370371,15.5000,NaN,Q
"Samaan, Mr. Youssef",49,0,3,male,NaN,2,0,2662,21.6792,NaN,C
"Panula, Master. Juha Niilo",51,0,3,male,7.0,4,1,3101295,39.6875,NaN,S
"Nosworthy, Mr. Richard Cater",52,0,3,male,21.0,0,0,A/4. 39886,7.8000,NaN,S
"Ostby, Mr. Engelhart Cornelius",55,0,1,male,65.0,0,1,113509,61.9792,B30,C
"Woolner, Mr. Hugh",56,1,1,male,NaN,0,0,19947,35.5000,C52,S
...,...,...,...,...,...,...,...,...,...,...,...
"Alhomaki, Mr. Ilmari Rudolf",841,0,3,male,20.0,0,0,SOTON/O2 3101287,7.9250,NaN,S
"Mudd, Mr. Thomas Charles",842,0,2,male,16.0,0,0,S.O./P.P. 3,10.5000,NaN,S
"Lemberopolous, Mr. Peter L",844,0,3,male,34.5,0,0,2683,6.4375,NaN,C
"Culumovic, Mr. Jeso",845,0,3,male,17.0,0,0,315090,8.6625,NaN,S
"Abbing, Mr. Anthony",846,0,3,male,42.0,0,0,C.A. 5547,7.5500,NaN,S
"Sage, Mr. Douglas Bullen",847,0,3,male,NaN,8,2,CA. 2343,69.5500,NaN,S
"Markoff, Mr. Marin",848,0,3,male,35.0,0,0,349213,7.8958,NaN,C
"Harper, Rev. John",849,0,2,male,28.0,0,1,248727,33.0000,NaN,S
"Andersson, Master. Sigvard Harald Elias",851,0,3,male,4.0,4,2,347082,31.2750,NaN,S
"Svensson, Mr. Johan",852,0,3,male,74.0,0,0,347060,7.7750,NaN,S
"Daly, Mr. Peter Denis",858,1,1,male,51.0,0,0,113055,26.5500,E17,S
"Razi, Mr. Raihed",860,0,3,male,NaN,0,0,2629,7.2292,NaN,C
"Hansen, Mr. Claus Peter",861,0,3,male,41.0,2,0,350026,14.1083,NaN,S
"Giles, Mr. Frederick Edward",862,0,2,male,21.0,1,0,28134,11.5000,NaN,S
"Gill, Mr. John William",865,0,2,male,24.0,0,0,233866,13.0000,NaN,S
"Roebling, Mr. Washington Augustus II",868,0,1,male,31.0,0,0,PC 17590,50.4958,A24,S
"van Melkebeke, Mr. Philemon",869,0,3,male,NaN,0,0,345777,9.5000,NaN,S
"Johnson, Master. Harold Theodor",870,1,3,male,4.0,1,1,347742,11.1333,NaN,S
"Balkic, Mr. Cerin",871,0,3,male,26.0,0,0,349248,7.8958,NaN,S
"Carlsson, Mr. Frans Olof",873,0,1,male,33.0,0,0,695,5.0000,B51 B53 B55,S
"Vander Cruyssen, Mr. Victor",874,0,3,male,47.0,0,0,345765,9.0000,NaN,S
"Gustafsson, Mr. Alfred Ossian",877,0,3,male,20.0,0,0,7534,9.8458,NaN,S
"Petroff, Mr. Nedelio",878,0,3,male,19.0,0,0,349212,7.8958,NaN,S
"Laleff, Mr. Kristo",879,0,3,male,NaN,0,0,349217,7.8958,NaN,S
"Markun, Mr. Johann",882,0,3,male,33.0,0,0,349257,7.8958,NaN,S
"Banfield, Mr. Frederick James",884,0,2,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
"Sutehall, Mr. Henry Jr",885,0,3,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

# delete row or col

In [65]:
tit.drop("Braund, Mr. Owen Harris")

,id,alive,class,traveller_Sex,traveller_Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,0,9000,male,45.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
"Moran, Mr. James",6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,0,17463,51.8625,E46,S
"Palsson, Master. Gosta Leonard",8,0,3,male,2.0,3,1,349909,21.0750,NaN,S
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27.0,0,2,347742,11.1333,NaN,S
"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14.0,1,0,237736,30.0708,NaN,C
"Sandstrom, Miss. Marguerite Rut",11,1,3,female,4.0,1,1,PP 9549,16.7000,G6,S
"Bonnell, Miss. Elizabeth",12,1,1,female,58.0,0,0,113783,26.5500,C103,S
"Saundercock, Mr. William Henry",13,0,3,male,20.0,0,0,A/5. 2151,8.0500,NaN,S
"Andersson, Mr. Anders Johan",14,0,3,male,39.0,1,5,347082,31.2750,NaN,S
"Vestrom, Miss. Hulda Amanda Adolfina",15,0,3,female,14.0,0,0,350406,7.8542,NaN,S
"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,female,55.0,0,0,248706,16.0000,NaN,S
"Rice, Master. Eugene",17,0,3,male,2.0,4,1,382652,29.1250,NaN,Q
"Williams, Mr. Charles Eugene",18,1,2,male,NaN,0,0,244373,13.0000,NaN,S
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",19,0,3,female,31.0,1,0,345763,18.0000,NaN,S
"Masselmani, Mrs. Fatima",20,1,3,female,NaN,0,0,2649,7.2250,NaN,C
"Fynney, Mr. Joseph J",21,0,2,male,35.0,0,0,239865,26.0000,NaN,S
"Beesley, Mr. Lawrence",22,1,2,male,34.0,0,0,248698,13.0000,D56,S
"McGowan, Miss. Anna ""Annie""",23,1,3,female,15.0,0,0,330923,8.0292,NaN,Q
"Sloper, Mr. William Thompson",24,1,1,male,28.0,0,0,113788,35.5000,A6,S
"Palsson, Miss. Torborg Danira",25,0,3,female,8.0,3,1,349909,21.0750,NaN,S
"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",26,1,3,female,38.0,1,5,347077,31.3875,NaN,S
"Emir, Mr. Farred Chehab",27,0,3,male,NaN,0,0,2631,7.2250,NaN,C
"Fortune, Mr. Charles Alexander",28,0,1,male,19.0,3,2,19950,263.0000,C23 C25 C27,S
"O'Dwyer, Miss. Ellen ""Nellie""",29,1,3,female,NaN,0,0,330959,7.8792,NaN,Q
"Todoroff, Mr. Lalio",30,0,3,male,NaN,0,0,349216,7.8958,NaN,S
"Uruchurtu, Don. Manuel E",31,0,1,male,40.0,0,0,PC 17601,27.7208,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
"Giles, Mr. Frederick Edward",862,0,2,male,21.0,1,0,28134,11.5000,NaN,S
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",863,1,1,female,48.0,0,0,17466,25.9292,D17,S
"Sage, Miss. Dorothy Edith ""Dolly""",864,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
"Gill, Mr. John William",865,0,2,male,24.0,0,0,233866,13.0000,NaN,S
"Bystrom, Mrs. (Karolina)",866,1,2,female,42.0,0,0,236852,13.0000,NaN,S
"Duran y More, Miss. Asuncion",867,1,2,female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
"Roebling, Mr. Washington Augustus II",868,0,1,male,31.0,0,0,PC 17590,50.4958,A24,S
"van Melkebeke, Mr. Philemon",869,0,3,male,NaN,0,0,345777,9.5000,NaN,S
"Johnson, Master. Harold Theodor",870,1,3,male,4.0,1,1,347742,11.1333,NaN,S
"Balkic, Mr. Cerin",871,0,3,male,26.0,0,0,349248,7.8958,NaN,S
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",872,1,1,female,47.0,1,1,11751,52.5542,D35,S
"Carlsson, Mr. Frans Olof",873,0,1,male,33.0,0,0,695,5.0000,B51 B53 B55,S
"Vander Cruyssen, Mr. Victor",874,0,3,male,47.0,0,0,345765,9.0000,NaN,S
"Abelson, Mrs. Samuel (Hannah Wizosky)",875,1,2,female,28.0,1,0,P/PP 3381,24.0000,NaN,C
"Najib, Miss. Adele Kiamie ""Jane""",876,1,3,female,15.0,0,0,2667,7.2250,NaN,C
"Gustafsson, Mr. Alfred Ossian",877,0,3,male,20.0,0,0,7534,9.8458,NaN,S
"Petroff, Mr. Nedelio",878,0,3,male,19.0,0,0,349212,7.8958,NaN,S
"Laleff, Mr. Kristo",879,0,3,male,NaN,0,0,349217,7.8958,NaN,S
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",880,1,1,female,56.0,0,1,11767,83.1583,C50,C
"Shelley, Mrs. William (Imanita Parrish Hall)",881,1,2,female,25.0,0,1,230433,26.0000,NaN,S
"Markun, Mr. Johann",882,0,3,male,33.0,0,0,349257,7.8958,NaN,S
"Dahlberg, Miss. Gerda Ulrika",883,0,3,female,22.0,0,0,7552,10.5167,NaN,S
"Banfield, Mr. Frederick James",884,0,2,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
"Sutehall, Mr. Henry Jr",885,0,3,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
"Rice, Mrs. William (Margaret Norton)",886,0,3,female,39.0,0,5,382652,29.1250,NaN,Q
"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [66]:
tit.drop(["Braund, Mr. Owen Harris","Heikkinen, Miss. Laina"])

,id,alive,class,traveller_Sex,traveller_Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,0,373450,8.0500,NaN,S
"Moran, Mr. James",6,0,3,male,NaN,0,0,330877,8.4583,NaN,Q
"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,0,17463,51.8625,E46,S
"Palsson, Master. Gosta Leonard",8,0,3,male,2.0,3,1,349909,21.0750,NaN,S
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27.0,0,2,347742,11.1333,NaN,S
"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14.0,1,0,237736,30.0708,NaN,C
"Sandstrom, Miss. Marguerite Rut",11,1,3,female,4.0,1,1,PP 9549,16.7000,G6,S
"Bonnell, Miss. Elizabeth",12,1,1,female,58.0,0,0,113783,26.5500,C103,S
"Saundercock, Mr. William Henry",13,0,3,male,20.0,0,0,A/5. 2151,8.0500,NaN,S
"Andersson, Mr. Anders Johan",14,0,3,male,39.0,1,5,347082,31.2750,NaN,S
"Vestrom, Miss. Hulda Amanda Adolfina",15,0,3,female,14.0,0,0,350406,7.8542,NaN,S
"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,female,55.0,0,0,248706,16.0000,NaN,S
"Rice, Master. Eugene",17,0,3,male,2.0,4,1,382652,29.1250,NaN,Q
"Williams, Mr. Charles Eugene",18,1,2,male,NaN,0,0,244373,13.0000,NaN,S
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",19,0,3,female,31.0,1,0,345763,18.0000,NaN,S
"Masselmani, Mrs. Fatima",20,1,3,female,NaN,0,0,2649,7.2250,NaN,C
"Fynney, Mr. Joseph J",21,0,2,male,35.0,0,0,239865,26.0000,NaN,S
"Beesley, Mr. Lawrence",22,1,2,male,34.0,0,0,248698,13.0000,D56,S
"McGowan, Miss. Anna ""Annie""",23,1,3,female,15.0,0,0,330923,8.0292,NaN,Q
"Sloper, Mr. William Thompson",24,1,1,male,28.0,0,0,113788,35.5000,A6,S
"Palsson, Miss. Torborg Danira",25,0,3,female,8.0,3,1,349909,21.0750,NaN,S
"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",26,1,3,female,38.0,1,5,347077,31.3875,NaN,S
"Emir, Mr. Farred Chehab",27,0,3,male,NaN,0,0,2631,7.2250,NaN,C
"Fortune, Mr. Charles Alexander",28,0,1,male,19.0,3,2,19950,263.0000,C23 C25 C27,S
"O'Dwyer, Miss. Ellen ""Nellie""",29,1,3,female,NaN,0,0,330959,7.8792,NaN,Q
"Todoroff, Mr. Lalio",30,0,3,male,NaN,0,0,349216,7.8958,NaN,S
"Uruchurtu, Don. Manuel E",31,0,1,male,40.0,0,0,PC 17601,27.7208,NaN,C
"Spencer, Mrs. William Augustus (Marie Eugenie)",32,1,1,female,NaN,1,0,PC 17569,146.5208,B78,C
...,...,...,...,...,...,...,...,...,...,...,...
"Giles, Mr. Frederick Edward",862,0,2,male,21.0,1,0,28134,11.5000,NaN,S
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",863,1,1,female,48.0,0,0,17466,25.9292,D17,S
"Sage, Miss. Dorothy Edith ""Dolly""",864,0,3,female,NaN,8,2,CA. 2343,69.5500,NaN,S
"Gill, Mr. John William",865,0,2,male,24.0,0,0,233866,13.0000,NaN,S
"Bystrom, Mrs. (Karolina)",866,1,2,female,42.0,0,0,236852,13.0000,NaN,S
"Duran y More, Miss. Asuncion",867,1,2,female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
"Roebling, Mr. Washington Augustus II",868,0,1,male,31.0,0,0,PC 17590,50.4958,A24,S
"van Melkebeke, Mr. Philemon",869,0,3,male,NaN,0,0,345777,9.5000,NaN,S
"Johnson, Master. Harold Theodor",870,1,3,male,4.0,1,1,347742,11.1333,NaN,S
"Balkic, Mr. Cerin",871,0,3,male,26.0,0,0,349248,7.8958,NaN,S
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",872,1,1,female,47.0,1,1,11751,52.5542,D35,S
"Carlsson, Mr. Frans Olof",873,0,1,male,33.0,0,0,695,5.0000,B51 B53 B55,S
"Vander Cruyssen, Mr. Victor",874,0,3,male,47.0,0,0,345765,9.0000,NaN,S
"Abelson, Mrs. Samuel (Hannah Wizosky)",875,1,2,female,28.0,1,0,P/PP 3381,24.0000,NaN,C
"Najib, Miss. Adele Kiamie ""Jane""",876,1,3,female,15.0,0,0,2667,7.2250,NaN,C
"Gustafsson, Mr. Alfred Ossian",877,0,3,male,20.0,0,0,7534,9.8458,NaN,S
"Petroff, Mr. Nedelio",878,0,3,male,19.0,0,0,349212,7.8958,NaN,S
"Laleff, Mr. Kristo",879,0,3,male,NaN,0,0,349217,7.8958,NaN,S
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",880,1,1,female,56.0,0,1,11767,83.1583,C50,C
"Shelley, Mrs. William (Imanita Parrish Hall)",881,1,2,female,25.0,0,1,230433,26.0000,NaN,S
"Markun, Mr. Johann",882,0,3,male,33.0,0,0,349257,7.8958,NaN,S
"Dahlberg, Miss. Gerda Ulrika",883,0,3,female,22.0,0,0,7552,10.5167,NaN,S
"Banfield, Mr. Frederick James",884,0,2,male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
"Sutehall, Mr. Henry Jr",885,0,3,male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
"Rice, Mrs. William (Margaret Norton)",886,0,3,female,39.0,0,5,382652,29.1250,NaN,Q
"Montvila, Rev. Juozas",887,0,2,male,27.0,0,0,211536,13.0000,NaN,S
"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,0,112053,30.0000,B42,S
"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S
"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,0,111369,30.0000,C148,C
"Dooley, Mr. Patrick",891,0,3,male,32.0,0,0,370376,7.7500,NaN,Q

In [67]:
tit.drop("Parch",axis=1)
# axis =1 tells to drop column

,id,alive,class,traveller_Sex,traveller_Age,Sibsp,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,0,9000,male,45.0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,1,female,35.0,1,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,0,3,male,35.0,0,373450,8.0500,NaN,S
"Moran, Mr. James",6,0,3,male,NaN,0,330877,8.4583,NaN,Q
"McCarthy, Mr. Timothy J",7,0,1,male,54.0,0,17463,51.8625,E46,S
"Palsson, Master. Gosta Leonard",8,0,3,male,2.0,3,349909,21.0750,NaN,S
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,3,female,27.0,0,347742,11.1333,NaN,S
"Nasser, Mrs. Nicholas (Adele Achem)",10,1,2,female,14.0,1,237736,30.0708,NaN,C
"Sandstrom, Miss. Marguerite Rut",11,1,3,female,4.0,1,PP 9549,16.7000,G6,S
"Bonnell, Miss. Elizabeth",12,1,1,female,58.0,0,113783,26.5500,C103,S
"Saundercock, Mr. William Henry",13,0,3,male,20.0,0,A/5. 2151,8.0500,NaN,S
"Andersson, Mr. Anders Johan",14,0,3,male,39.0,1,347082,31.2750,NaN,S
"Vestrom, Miss. Hulda Amanda Adolfina",15,0,3,female,14.0,0,350406,7.8542,NaN,S
"Hewlett, Mrs. (Mary D Kingcome)",16,1,2,female,55.0,0,248706,16.0000,NaN,S
"Rice, Master. Eugene",17,0,3,male,2.0,4,382652,29.1250,NaN,Q
"Williams, Mr. Charles Eugene",18,1,2,male,NaN,0,244373,13.0000,NaN,S
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",19,0,3,female,31.0,1,345763,18.0000,NaN,S
"Masselmani, Mrs. Fatima",20,1,3,female,NaN,0,2649,7.2250,NaN,C
"Fynney, Mr. Joseph J",21,0,2,male,35.0,0,239865,26.0000,NaN,S
"Beesley, Mr. Lawrence",22,1,2,male,34.0,0,248698,13.0000,D56,S
"McGowan, Miss. Anna ""Annie""",23,1,3,female,15.0,0,330923,8.0292,NaN,Q
"Sloper, Mr. William Thompson",24,1,1,male,28.0,0,113788,35.5000,A6,S
"Palsson, Miss. Torborg Danira",25,0,3,female,8.0,3,349909,21.0750,NaN,S
"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",26,1,3,female,38.0,1,347077,31.3875,NaN,S
"Emir, Mr. Farred Chehab",27,0,3,male,NaN,0,2631,7.2250,NaN,C
"Fortune, Mr. Charles Alexander",28,0,1,male,19.0,3,19950,263.0000,C23 C25 C27,S
"O'Dwyer, Miss. Ellen ""Nellie""",29,1,3,female,NaN,0,330959,7.8792,NaN,Q
"Todoroff, Mr. Lalio",30,0,3,male,NaN,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...
"Giles, Mr. Frederick Edward",862,0,2,male,21.0,1,28134,11.5000,NaN,S
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",863,1,1,female,48.0,0,17466,25.9292,D17,S
"Sage, Miss. Dorothy Edith ""Dolly""",864,0,3,female,NaN,8,CA. 2343,69.5500,NaN,S
"Gill, Mr. John William",865,0,2,male,24.0,0,233866,13.0000,NaN,S
"Bystrom, Mrs. (Karolina)",866,1,2,female,42.0,0,236852,13.0000,NaN,S
"Duran y More, Miss. Asuncion",867,1,2,female,27.0,1,SC/PARIS 2149,13.8583,NaN,C
"Roebling, Mr. Washington Augustus II",868,0,1,male,31.0,0,PC 17590,50.4958,A24,S
"van Melkebeke, Mr. Philemon",869,0,3,male,NaN,0,345777,9.5000,NaN,S
"Johnson, Master. Harold Theodor",870,1,3,male,4.0,1,347742,11.1333,NaN,S
"Balkic, Mr. Cerin",871,0,3,male,26.0,0,349248,7.8958,NaN,S
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",872,1,1,female,47.0,1,11751,52.5542,D35,S
"Carlsson, Mr. Frans Olof",873,0,1,male,33.0,0,695,5.0000,B51 B53 B55,S
"Vander Cruyssen, Mr. Victor",874,0,3,male,47.0,0,345765,9.0000,NaN,S
"Abelson, Mrs. Samuel (Hannah Wizosky)",875,1,2,female,28.0,1,P/PP 3381,24.0000,NaN,C
"Najib, Miss. Adele Kiamie ""Jane""",876,1,3,female,15.0,0,2667,7.2250,NaN,C
"Gustafsson, Mr. Alfred Ossian",877,0,3,male,20.0,0,7534,9.8458,NaN,S
"Petroff, Mr. Nedelio",878,0,3,male,19.0,0,349212,7.8958,NaN,S
"Laleff, Mr. Kristo",879,0,3,male,NaN,0,349217,7.8958,NaN,S
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",880,1,1,female,56.0,0,11767,83.1583,C50,C
"Shelley, Mrs. William (Imanita Parrish Hall)",881,1,2,female,25.0,0,230433,26.0000,NaN,S
"Markun, Mr. Johann",882,0,3,male,33.0,0,349257,7.8958,NaN,S
"Dahlberg, Miss. Gerda Ulrika",883,0,3,female,22.0,0,7552,10.5167,NaN,S
"Banfield, Mr. Frederick James",884,0,2,male,28.0,0,C.A./SOTON 34068,10.5000,NaN,S
"Sutehall, Mr. Henry Jr",885,0,3,male,25.0,0,SOTON/OQ 392076,7.0500,NaN,S
"Rice, Mrs. William (Margaret Norton)",886,0,3,female,39.0,0,382652,29.1250,NaN,Q
"Montvila, Rev. Juozas",887,0,2,male,27.0,0,211536,13.0000,NaN,S
"Graham, Miss. Margaret Edith",888,1,1,female,19.0,0,112053,30.0000,B42,S
"Johnston, Miss. Catherine Helen ""Carrie""",889,0,3,female,NaN,1,W./C. 6607,23.4500,NaN,S
"Behr, Mr. Karl Howell",890,1,1,male,26.0,0,111369,30.0000,C148,C
"Dooley, Mr. Patrick",891,0,3,male,32.0,0,370376,7.7500,NaN,Q

In [70]:
tit.drop(["Cabin","class"],axis=1)

,id,alive,traveller_Sex,traveller_Age,Sibsp,Parch,Ticket,Fare,Embarked
Name,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,male,22.0,1,0,A/5 21171,7.2500,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,female,38.0,1,0,PC 17599,71.2833,C
"Heikkinen, Miss. Laina",3,0,male,45.0,0,0,STON/O2. 3101282,7.9250,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,female,35.0,1,0,113803,53.1000,S
"Allen, Mr. William Henry",5,0,male,35.0,0,0,373450,8.0500,S
"Moran, Mr. James",6,0,male,NaN,0,0,330877,8.4583,Q
"McCarthy, Mr. Timothy J",7,0,male,54.0,0,0,17463,51.8625,S
"Palsson, Master. Gosta Leonard",8,0,male,2.0,3,1,349909,21.0750,S
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",9,1,female,27.0,0,2,347742,11.1333,S
"Nasser, Mrs. Nicholas (Adele Achem)",10,1,female,14.0,1,0,237736,30.0708,C
"Sandstrom, Miss. Marguerite Rut",11,1,female,4.0,1,1,PP 9549,16.7000,S
"Bonnell, Miss. Elizabeth",12,1,female,58.0,0,0,113783,26.5500,S
"Saundercock, Mr. William Henry",13,0,male,20.0,0,0,A/5. 2151,8.0500,S
"Andersson, Mr. Anders Johan",14,0,male,39.0,1,5,347082,31.2750,S
"Vestrom, Miss. Hulda Amanda Adolfina",15,0,female,14.0,0,0,350406,7.8542,S
"Hewlett, Mrs. (Mary D Kingcome)",16,1,female,55.0,0,0,248706,16.0000,S
"Rice, Master. Eugene",17,0,male,2.0,4,1,382652,29.1250,Q
"Williams, Mr. Charles Eugene",18,1,male,NaN,0,0,244373,13.0000,S
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",19,0,female,31.0,1,0,345763,18.0000,S
"Masselmani, Mrs. Fatima",20,1,female,NaN,0,0,2649,7.2250,C
"Fynney, Mr. Joseph J",21,0,male,35.0,0,0,239865,26.0000,S
"Beesley, Mr. Lawrence",22,1,male,34.0,0,0,248698,13.0000,S
"McGowan, Miss. Anna ""Annie""",23,1,female,15.0,0,0,330923,8.0292,Q
"Sloper, Mr. William Thompson",24,1,male,28.0,0,0,113788,35.5000,S
"Palsson, Miss. Torborg Danira",25,0,female,8.0,3,1,349909,21.0750,S
"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",26,1,female,38.0,1,5,347077,31.3875,S
"Emir, Mr. Farred Chehab",27,0,male,NaN,0,0,2631,7.2250,C
"Fortune, Mr. Charles Alexander",28,0,male,19.0,3,2,19950,263.0000,S
"O'Dwyer, Miss. Ellen ""Nellie""",29,1,female,NaN,0,0,330959,7.8792,Q
"Todoroff, Mr. Lalio",30,0,male,NaN,0,0,349216,7.8958,S
...,...,...,...,...,...,...,...,...,...
"Giles, Mr. Frederick Edward",862,0,male,21.0,1,0,28134,11.5000,S
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",863,1,female,48.0,0,0,17466,25.9292,S
"Sage, Miss. Dorothy Edith ""Dolly""",864,0,female,NaN,8,2,CA. 2343,69.5500,S
"Gill, Mr. John William",865,0,male,24.0,0,0,233866,13.0000,S
"Bystrom, Mrs. (Karolina)",866,1,female,42.0,0,0,236852,13.0000,S
"Duran y More, Miss. Asuncion",867,1,female,27.0,1,0,SC/PARIS 2149,13.8583,C
"Roebling, Mr. Washington Augustus II",868,0,male,31.0,0,0,PC 17590,50.4958,S
"van Melkebeke, Mr. Philemon",869,0,male,NaN,0,0,345777,9.5000,S
"Johnson, Master. Harold Theodor",870,1,male,4.0,1,1,347742,11.1333,S
"Balkic, Mr. Cerin",871,0,male,26.0,0,0,349248,7.8958,S
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",872,1,female,47.0,1,1,11751,52.5542,S
"Carlsson, Mr. Frans Olof",873,0,male,33.0,0,0,695,5.0000,S
"Vander Cruyssen, Mr. Victor",874,0,male,47.0,0,0,345765,9.0000,S
"Abelson, Mrs. Samuel (Hannah Wizosky)",875,1,female,28.0,1,0,P/PP 3381,24.0000,C
"Najib, Miss. Adele Kiamie ""Jane""",876,1,female,15.0,0,0,2667,7.2250,C
"Gustafsson, Mr. Alfred Ossian",877,0,male,20.0,0,0,7534,9.8458,S
"Petroff, Mr. Nedelio",878,0,male,19.0,0,0,349212,7.8958,S
"Laleff, Mr. Kristo",879,0,male,NaN,0,0,349217,7.8958,S
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",880,1,female,56.0,0,1,11767,83.1583,C
"Shelley, Mrs. William (Imanita Parrish Hall)",881,1,female,25.0,0,1,230433,26.0000,S
"Markun, Mr. Johann",882,0,male,33.0,0,0,349257,7.8958,S
"Dahlberg, Miss. Gerda Ulrika",883,0,female,22.0,0,0,7552,10.5167,S
"Banfield, Mr. Frederick James",884,0,male,28.0,0,0,C.A./SOTON 34068,10.5000,S
"Sutehall, Mr. Henry Jr",885,0,male,25.0,0,0,SOTON/OQ 392076,7.0500,S
"Rice, Mrs. William (Margaret Norton)",886,0,female,39.0,0,5,382652,29.1250,Q
"Montvila, Rev. Juozas",887,0,male,27.0,0,0,211536,13.0000,S
"Graham, Miss. Margaret Edith",888,1,female,19.0,0,0,112053,30.0000,S
"Johnston, Miss. Catherine Helen ""Carrie""",889,0,female,NaN,1,2,W./C. 6607,23.4500,S
"Behr, Mr. Karl Howell",890,1,male,26.0,0,0,111369,30.0000,C
"Dooley, Mr. Patrick",891,0,male,32.0,0,0,370376,7.7500,Q

In [71]:
alive=tit.pop("alive")
tit.head()

,id,class,traveller_Sex,traveller_Age,Sibsp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,
"Braund, Mr. Owen Harris",1,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,female,38.0,1,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,9000,male,45.0,0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,female,35.0,1,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,3,male,35.0,0,0,373450,8.0500,NaN,S

In [73]:
alive.head()

Name
Braund, Mr. Owen Harris                                0
Cumings, Mrs. John Bradley (Florence Briggs Thayer)    1
Heikkinen, Miss. Laina                                 0
Futrelle, Mrs. Jacques Heath (Lily May Peel)           1
Allen, Mr. William Henry                               0
Name: alive, dtype: int64

In [74]:
del tit["Sibsp"]

In [75]:
tit.head()

,id,class,traveller_Sex,traveller_Age,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,
"Braund, Mr. Owen Harris",1,3,male,22.0,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,female,38.0,0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",3,9000,male,45.0,0,STON/O2. 3101282,7.9250,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,female,35.0,0,113803,53.1000,C123,S
"Allen, Mr. William Henry",5,3,male,35.0,0,373450,8.0500,NaN,S

# .Sample() method

In [78]:
tit.sample()
# show random result

,id,class,traveller_Sex,traveller_Age,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,
"Thayer, Mr. John Borland",699,1,male,49.0,1,17421,110.8833,C68,C

In [81]:
tit.sample(n=3)
# n def the number of random row

,id,class,traveller_Sex,traveller_Age,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,
"Carbines, Mr. William",192,2,male,19.0,0,28424,13.0,NaN,S
"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",855,2,female,44.0,0,244252,26.0,NaN,S
"Renouf, Mrs. Peter Henry (Lillian Jefferys)",727,2,female,30.0,0,31027,21.0,NaN,S

In [83]:
tit.sample(frac=.01)

,id,class,traveller_Sex,traveller_Age,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,
"Nasser, Mr. Nicholas",123,2,male,32.5,0,237736,30.0708,NaN,C
"Sage, Mr. George John Jr",325,3,male,NaN,2,CA. 2343,69.5500,NaN,S
"Chapman, Mr. John Henry",595,2,male,37.0,0,SC/AH 29037,26.0000,NaN,S
"Landergren, Miss. Aurora Adelia",377,3,female,22.0,0,C 7077,7.2500,NaN,S
"Hansen, Mr. Henry Damsgaard",624,3,male,21.0,0,350029,7.8542,NaN,S
"Mionoff, Mr. Stoytcho",106,3,male,28.0,0,349207,7.8958,NaN,S
"Soholt, Mr. Peter Andreas Lauritz Andersen",716,3,male,19.0,0,348124,7.6500,F G73,S
"Perreault, Miss. Anne",521,1,female,30.0,0,12749,93.5000,B73,S
"Simmons, Mr. John",564,3,male,NaN,0,SOTON/OQ 392082,8.0500,NaN,S

In [86]:
# col wise
tit.sample(n=3,axis=1)

,Ticket,traveller_Age,traveller_Sex
Name,,,
"Braund, Mr. Owen Harris",A/5 21171,22.0,male
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",PC 17599,38.0,female
"Heikkinen, Miss. Laina",STON/O2. 3101282,45.0,male
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",113803,35.0,female
"Allen, Mr. William Henry",373450,35.0,male
"Moran, Mr. James",330877,NaN,male
"McCarthy, Mr. Timothy J",17463,54.0,male
"Palsson, Master. Gosta Leonard",349909,2.0,male
"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",347742,27.0,female
"Nasser, Mrs. Nicholas (Adele Achem)",237736,14.0,female
"Sandstrom, Miss. Marguerite Rut",PP 9549,4.0,female
"Bonnell, Miss. Elizabeth",113783,58.0,female
"Saundercock, Mr. William Henry",A/5. 2151,20.0,male
"Andersson, Mr. Anders Johan",347082,39.0,male
"Vestrom, Miss. Hulda Amanda Adolfina",350406,14.0,female
"Hewlett, Mrs. (Mary D Kingcome)",248706,55.0,female
"Rice, Master. Eugene",382652,2.0,male
"Williams, Mr. Charles Eugene",244373,NaN,male
"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",345763,31.0,female
"Masselmani, Mrs. Fatima",2649,NaN,female
"Fynney, Mr. Joseph J",239865,35.0,male
"Beesley, Mr. Lawrence",248698,34.0,male
"McGowan, Miss. Anna ""Annie""",330923,15.0,female
"Sloper, Mr. William Thompson",113788,28.0,male
"Palsson, Miss. Torborg Danira",349909,8.0,female
"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",347077,38.0,female
"Emir, Mr. Farred Chehab",2631,NaN,male
"Fortune, Mr. Charles Alexander",19950,19.0,male
"O'Dwyer, Miss. Ellen ""Nellie""",330959,NaN,female
"Todoroff, Mr. Lalio",349216,NaN,male
...,...,...,...
"Giles, Mr. Frederick Edward",28134,21.0,male
"Swift, Mrs. Frederick Joel (Margaret Welles Barron)",17466,48.0,female
"Sage, Miss. Dorothy Edith ""Dolly""",CA. 2343,NaN,female
"Gill, Mr. John William",233866,24.0,male
"Bystrom, Mrs. (Karolina)",236852,42.0,female
"Duran y More, Miss. Asuncion",SC/PARIS 2149,27.0,female
"Roebling, Mr. Washington Augustus II",PC 17590,31.0,male
"van Melkebeke, Mr. Philemon",345777,NaN,male
"Johnson, Master. Harold Theodor",347742,4.0,male
"Balkic, Mr. Cerin",349248,26.0,male
"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",11751,47.0,female
"Carlsson, Mr. Frans Olof",695,33.0,male
"Vander Cruyssen, Mr. Victor",345765,47.0,male
"Abelson, Mrs. Samuel (Hannah Wizosky)",P/PP 3381,28.0,female
"Najib, Miss. Adele Kiamie ""Jane""",2667,15.0,female
"Gustafsson, Mr. Alfred Ossian",7534,20.0,male
"Petroff, Mr. Nedelio",349212,19.0,male
"Laleff, Mr. Kristo",349217,NaN,male
"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",11767,56.0,female
"Shelley, Mrs. William (Imanita Parrish Hall)",230433,25.0,female
"Markun, Mr. Johann",349257,33.0,male
"Dahlberg, Miss. Gerda Ulrika",7552,22.0,female
"Banfield, Mr. Frederick James",C.A./SOTON 34068,28.0,male
"Sutehall, Mr. Henry Jr",SOTON/OQ 392076,25.0,male
"Rice, Mrs. William (Margaret Norton)",382652,39.0,female
"Montvila, Rev. Juozas",211536,27.0,male
"Graham, Miss. Margaret Edith",112053,19.0,female
"Johnston, Miss. Catherine Helen ""Carrie""",W./C. 6607,NaN,female
"Behr, Mr. Karl Howell",111369,26.0,male
"Dooley, Mr. Patrick",370376,32.0,male

# nsmallest() and nlargest()

In [90]:
tit.nlargest(n=3,columns="traveller_Age")

,id,class,traveller_Sex,traveller_Age,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,
"Barkworth, Mr. Algernon Henry Wilson",631,1,male,80.0,0,27042,30.0000,A23,S
"Svensson, Mr. Johan",852,3,male,74.0,0,347060,7.7750,NaN,S
"Goldschmidt, Mr. George B",97,1,male,71.0,0,PC 17754,34.6542,A5,C

In [91]:
tit.nsmallest(n=3,columns="traveller_Age")

,id,class,traveller_Sex,traveller_Age,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,
"Thomas, Master. Assad Alexander",804,3,male,0.42,1,2625,8.5167,NaN,C
"Hamalainen, Master. Viljo",756,2,male,0.67,1,250649,14.5000,NaN,S
"Baclini, Miss. Helene Barbara",470,3,female,0.75,1,2666,19.2583,NaN,C

In [92]:
tit["Fare"].nlargest(6)

Name
Ward, Miss. Anna                      512.3292
Cardeza, Mr. Thomas Drake Martinez    512.3292
Lesurer, Mr. Gustave J                512.3292
Fortune, Mr. Charles Alexander        263.0000
Fortune, Miss. Mabel Helen            263.0000
Fortune, Miss. Alice Elizabeth        263.0000
Name: Fare, dtype: float64

# where() method

In [100]:
l1=tit["traveller_Sex"]=="male"
tit[l1].head()

,id,class,traveller_Sex,traveller_Age,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,
"Braund, Mr. Owen Harris",1,3,male,22.0,0,A/5 21171,7.2500,NaN,S
"Heikkinen, Miss. Laina",3,9000,male,45.0,0,STON/O2. 3101282,7.9250,NaN,S
"Allen, Mr. William Henry",5,3,male,35.0,0,373450,8.0500,NaN,S
"Moran, Mr. James",6,3,male,NaN,0,330877,8.4583,NaN,Q
"McCarthy, Mr. Timothy J",7,1,male,54.0,0,17463,51.8625,E46,S

In [104]:
tit.where(l1).head()
# where method does not remove name it just fill NAN

,id,class,traveller_Sex,traveller_Age,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,
"Braund, Mr. Owen Harris",1.0,3.0,male,22.0,0.0,A/5 21171,7.250,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Heikkinen, Miss. Laina",3.0,9000.0,male,45.0,0.0,STON/O2. 3101282,7.925,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Allen, Mr. William Henry",5.0,3.0,male,35.0,0.0,373450,8.050,NaN,S

In [107]:
tit.where(tit['Fare']>10).head()

,id,class,traveller_Sex,traveller_Age,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,
"Braund, Mr. Owen Harris",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2.0,1.0,female,38.0,0.0,PC 17599,71.2833,C85,C
"Heikkinen, Miss. Laina",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4.0,1.0,female,35.0,0.0,113803,53.1000,C123,S
"Allen, Mr. William Henry",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# apply() method

In [112]:
# it is used as broadcast method 
def add(num):
    return str(num)+" THOUSEND"

tit["Fare"]=tit["Fare"].apply(add)

In [113]:
tit.head()

,id,class,traveller_Sex,traveller_Age,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,
"Braund, Mr. Owen Harris",1,3,male,22.0,0,A/5 21171,7.25 THOUSEND,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,female,38.0,0,PC 17599,71.2833 THOUSEND,C85,C
"Heikkinen, Miss. Laina",3,9000,male,45.0,0,STON/O2. 3101282,7.925 THOUSEND,NaN,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4,1,female,35.0,0,113803,53.1 THOUSEND,C123,S
"Allen, Mr. William Henry",5,3,male,35.0,0,373450,8.05 THOUSEND,NaN,S

In [116]:
col=["id","Cabin",'class']
for c in col:
    tit[c]=tit[c].apply(add)

In [117]:
tit.head()

,id,class,traveller_Sex,traveller_Age,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,
"Braund, Mr. Owen Harris",1 THOUSEND,3 THOUSEND,male,22.0,0,A/5 21171,7.25 THOUSEND,nan THOUSEND,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2 THOUSEND,1 THOUSEND,female,38.0,0,PC 17599,71.2833 THOUSEND,C85 THOUSEND,C
"Heikkinen, Miss. Laina",3 THOUSEND,9000 THOUSEND,male,45.0,0,STON/O2. 3101282,7.925 THOUSEND,nan THOUSEND,S
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",4 THOUSEND,1 THOUSEND,female,35.0,0,113803,53.1 THOUSEND,C123 THOUSEND,S
"Allen, Mr. William Henry",5 THOUSEND,3 THOUSEND,male,35.0,0,373450,8.05 THOUSEND,nan THOUSEND,S